[submodule "https:/github.com/ProgerXP/SafePatch"]
	path = https:/github.com/ProgerXP/SafePatch
	url = ./utils/safepatch
[submodule "utils/safepatch"]
	path = utils/safepatch
	url = https://github.com/ProgerXP/SafePatch
